<div class="center jumbotron" align="center">
  <h1 align="center">Salut Moussaillon!</h1>
  <h3 align="center">
    Voici un petite liste de tous les moussailons de l'univers!
  </h3>
  <%=  link_to "Par ici Jeune padawan", 'corsairs', class: "btn btn-lg btn-primary" %>
</div>