<div class="center jumbotron">
  <h1>Salut Moussaillon!</h1>
  <h3>
    Voici un petite liste de tous les moussailons de l'univers!
  </h3>
  <%= link_to "Par ici Jeune padawan", 'corsairs', class: "btn btn-lg btn-primary" %>
</div>